.project-layout {
    height:80%;
    width:80%;
    margin:auto;
    text-align: center;
    display:flex;
    flex-direction:row;
    justify-content: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
 
   
    color:white;
}



.neonText {
    color: #fff;
    border-style:solid;
    width:50rem;
    background-color: black;
    border-radius:15px;
    position:absolute;
    left:0;
    right:0;
    top:10%;
    text-align: center;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 2.8rem #bc13fe,
    inset 0 0 1.3rem #bc13fe; 
    margin:auto;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #f09,
      0 0 82px #f09,
      0 0 92px #f09,
      0 0 102px #f09,
      0 0 151px #f09;
      
  }


/* Additional styling */
  



  
h1 {
    font-size: 6.2rem;
    animation: pulsate 0.11s ease-in-out infinite alternate;  
    font-family: "Vibur", sans-serif;   
    
}
  


@keyframes pulsate {
    
  100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #f09,
      0 0 80px #f09,
      0 0 90px #f09,
      0 0 100px #f09,
      0 0 150px #f09;
  
  }
  
  0% {

    text-shadow:
    0 0 4px #fff,
    0 0 10px #fff,
    0 0 18px #fff,
    0 0 38px #f09,
    0 0 73px #f09,
    0 0 80px #f09,
    0 0 94px #f09,
    0 0 140px #f09;

} }
@keyframes pulsate {
    
    100% {
  
        text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px blue,
        0 0 82px blue,
        0 0 92px blue,
        0 0 102px blue,
        0 0 151px blue;
    
    }
    
    0% {
  
        text-shadow:
        0 0 7px #fff,
        0 0 8px #fff,
        0 0 19px #fff,
        0 0 40px blue,
        0 0 79px blue,
        0 0 89px blue,
        0 0 99px blue,
        0 0 141px blue;
  
  } 
}
.project-1{
    width:460px;
    height:251px;
    color:white;
    animation: fadeIn 5s 5s backwards;
    margin:auto;
   
}

.project-2{
    width:380px;
    height:251px;
    color:white;
    display: block;
    
    animation: fadeIn 2s 2s backwards;
    margin:auto;
    // box-shadow:
    // 0 0 30px 15px #fff,  /* inner white */
    // 0 0 50px 30px #f0f, /* middle magenta */
    // 0 0 70px 45px blue; /* outer cyan */
   
}
.project-3 {
    width:460px;
    height:251px;
    color:white;
    margin:auto;
   
   
    animation: fadeIn 4s 4s backwards;
    
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-1 {
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  color:white;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  
}
.btn-1:hover {
  background: black;
  color: white;
  box-shadow: 0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem green,
  0 0 0.8rem green,
  0 0 2.8rem green,
  inset 0 0 1.3rem green; 
  -webkit-box-reflect: below 1px linear-gradient(transparent, green);
}
.btn-1:nth-child(1) {
  filter: hue-rotate(270deg);
}
.btn-1:nth-child(2) {
  filter: hue-rotate(110deg);
}
.btn-1 span {
  position: absolute;
  display: block;
}
.btn-1 span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, green);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
.btn-1 span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, green);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
.btn-1span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent,green);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}
.btn-1 span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, orange);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}



@media(max-height:900px) {
    .giphy-embed {
        width:360px;
        height:161px;
    }
      .btn-1 {
          font-size: 10px;
      }
  .project-1 {
    width:360px;
    height:161px;
      margin:auto;
     
       
      }
      .project-2 {
        width:360px;
        height:161px;
      margin:auto;
     
       
  
      }
      .project-3 {
        width:360px;
        height:161px;
          margin:auto;
        
      
      }
      
  }

  @media(max-width:900px) {
    .project-layout {
        height:80%;
        width:80%;
        margin:auto;
        text-align: center;
        display:flex;
        flex-direction:column;
        justify-content: center;
     
       
        color:white;
    }
      
  }
  #iframe1 {
    border-radius:25px;
    background-color:black;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem blue,
    0 0 0.8rem blue,
    0 0 2.8rem blue,
    inset 0 0 1.3rem blue; 
  }
  #iframe2 {
    background-color:black;
    border-radius:25px;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem blue,
    0 0 0.8rem blue,
    0 0 2.8rem blue,
    inset 0 0 1.3rem blue; 
  }

  #iframe3{
    background-color:black;
    border-radius:25px;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem blue,
    0 0 0.8rem blue,
    0 0 2.8rem blue,
    inset 0 0 1.3rem blue; 
  }
