.about {
    color:white;
    font-size: 30px;
    display: block;
    position: absolute;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    left: 200px;
    right: 0;
    top:15px;
    width: 300px;
    height: 50px;
    animation: fadeIn 4s;
}
.ptag {
    font-size:25px;
    width:500px;
    font-family: 'Courier New', Courier, monospace;
    animation: fadeIn 6s;
}
.html-pic {
    display:block;
    position:absolute;
    top:60vh;
    left:1vw;
    height:150px;
    animation: fadeIn 8s;
    
}
.react-pic {
    display:block;
    position:absolute;
    top:48vh;
    left:11vw;
    height:12vh;
    animation: fadeIn 8s;
    
}
@media (max-width:1200px){
    .react-pic {
        left:16vw;
    }
    
}