.about {
    color:white;
    font-size: 30px;
    display: block;
    position: absolute;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    left: 200px;
    right: 0;
    top:15px;
    width: 300px;
    height: 50px;
    animation: fadeIn 4s;
}
.ptag {
    font-size:25px;
    width:500px;
    font-family: 'Courier New', Courier, monospace;
    animation: fadeIn 6s;
}
.html-pic {
    display:block;
    position:absolute;
    top:700px;
    left:250px;
    height:150px;
    animation: fadeIn 8s;
    
}
.react-pic {
    display:block;
    position:absolute;
    top:550px;
    left:380px;
    height:150px;
    animation: fadeIn 8s;
    
}