.about {
    color:white;
    font-size: 30px;
    display: block;
    position: absolute;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    left: 200px;
    right: 0;
    top:25%;
    width: 300px;
    height: 50px;
    animation: fadeIn 4s;
}
.ptag {
    font-size:25px;
    width:500px;
    font-family: 'Courier New', Courier, monospace;
    animation: fadeIn 6s;
}
.html-pic {
    display:block;
    position:absolute;
    top:55rem;
    left:4rem;
    height:15rem;
    animation: fadeIn 8s;
    
}
.react-pic {
    display:block;
    position:absolute;
    left:55%;
    top:40rem;
    height:15rem;
    animation: fadeIn 8s;
    
}
.h2-about {
    position:absolute;
    bottom:15rem;
    font-size:55px;
    color:white;
}
// @media (max-height:1000px){
//     .react-pic {
//         height:100px;
//         left:50%;
//         top:850%;
        
//     }
//     .html-pic {
//         height:100px;
//         left:20%;
//         top:1050%;
//     }
//     .ptag{
//         font-size:20px;
//         width:400px;
//     }
// }